<div class="space"></div>
<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <div class="row">

        <% @links.each do |link| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <font class="alert-success"><%= link.tag %></font>
              <br><%= link_to(image_tag(link.thumbnail, size: "120x120"), link.url, target: "_blank") %>
              <div class="caption">
                <h3><%= link_to(link.title, link.url, target: "_blank") %></h3>
                <p><%= link.content %></p>
                <p align="right">
                  <font color="#163F57"><strong>shared by Tony</strong></font>
                </p> 
              </div>
            </div>
          </div>
        <% end %>

      </div><!--/row-->
    </div><!--/span-->

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

      <%= link_to("Share A Link", new_link_path, class: "btn btn-primary") %>
      <hr>
      
      <div class="list-group">
        <%= link_to("All", "#", class: "list-group-item all active", remote: true) %>
        
      </div>

      <div class="list-group">
        <%= link_to("Gem", "#", class: "list-group-item gem", remote: true) %>
        <%= link_to("News", "#", class: "list-group-item news", remote: true) %>
        <%= link_to("Teaching", "#", class: "list-group-item teach", remote: true) %>
        <%= link_to("Discussion", "#", class: "list-group-item discuss", remote: true) %>
      </div>
    </div><!--/span-->
  </div><!--/row-->
  
  <div class="text-center">
    <ul class="pagination center">
      <li>
        <a href="#">prev</a>
      </li>
      <li>
        <a href="#">1</a>
      </li>
      <li>
        <a href="#">2</a>
      </li>
      <li>
        <a href="#">3</a>
      </li>
      <li>
        <a href="#">4</a>
      </li>
      <li>
        <a href="#">5</a>
      </li>
      <li>
        <a href="#">next</a>
      </li>
    </ul>
  </div>
</div><!--/.container-->

<script type="text/javascript">
  $('.all').click( function(){ 
    $.ajax({
      type:'get',
      url: '/links', 
      dataType: 'HTML', 
      data: {tag: 'all'},
      success : function(data){
        $("body").html(data);
      }
    }); 
  });

  $('.gem').click( function(){ 
    $.ajax({
      type:'get',
      url: '/links', 
      dataType: 'HTML', 
      data: {tag: 'gem'},
      success : function(data){
        $("body").html(data);
      }
    }); 
  });

  $('.news').click( function(){ 
    $.ajax({
      type:'get',
      url: '/links', 
      dataType: 'HTML', 
      data: {tag: 'news'},
      success : function(data){
        $("body").html(data);
      }
    }); 
  });

  $('.teach').click( function(){ 
    $.ajax({
      type:'get',
      url: '/links', 
      dataType: 'HTML', 
      data: {tag: 'teach'},
      success : function(data){
        $("body").html(data);
      }
    }); 
  });

  $('.discuss').click( function(){ 
    $.ajax({
      type:'get',
      url: '/links', 
      dataType: 'HTML', 
      data: {tag: 'discuss'},
      success : function(data){
        $("body").html(data);
      }
    }); 
  });
</script>
